


<app-header></app-header>
<nav class="navbar navbar-main navbar-expand-lg navbar-light border-bottom">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav" aria-controls="main_nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="main_nav">
      <ul class="navbar-nav">
        <li ngbDropdown class="d-inline-block">
          <div class="nav-link pl-0" id="dropdownBasic1" ngbDropdownToggle> <fa-icon [icon]="faBars"></fa-icon>  All category</div>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem (click)="showProducts()" routerLink="/home">Products</button>
            <button ngbDropdownItem (click)="showServices()" routerLink="/services">Services</button>
          </div>
        </li>

        <ng-container *ngIf="showingProducts">
          <li class="nav-item" *ngFor="let item of products">
            <a class="nav-link" routerLink="/home">{{item}}</a>
          </li>
        </ng-container>

        <ng-container *ngIf="showingServices">
          <li class="nav-item" *ngFor="let item of services">
            <a class="nav-link"  routerLink="/services">{{item}}</a>
          </li>
        </ng-container>

      </ul>
    </div> <!-- collapse .// -->
  </div> <!-- container .// -->
</nav>


<router-outlet></router-outlet>
