


<app-header></app-header>
<nav class="navbar navbar-main navbar-expand-lg navbar-light border-bottom">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav" aria-controls="main_nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="main_nav">
      <ul class="navbar-nav">
        <li ngbDropdown class="d-inline-block">
          <div class="nav-link pl-0" id="dropdownBasic1" ngbDropdownToggle> <fa-icon [icon]="faBars"></fa-icon>  All category</div>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem>Products</button>
            <button ngbDropdownItem>Services</button>
          </div>
        </li>


        <li class="nav-item">
          <a class="nav-link" href="#">Accessories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Eyes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Face</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Lips</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Make-Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Nails</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Skin Care</a>
        </li>
      </ul>
    </div> <!-- collapse .// -->
  </div> <!-- container .// -->
</nav>
<router-outlet></router-outlet>
