<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content">
<div class="container">

<header class="section-heading">
	<h4 class="section-title">Trending services</h4>
</header><!-- sect-heading -->


<div class="row">
	<div class="col-md-4">
		<div href="#" class="card card-product-grid">
			<a href="#" class="img-wrap"> <img src="assets/15.jpg"> </a>
			<figcaption class="info-wrap">
				<a href="#" class="title">Great Service</a>

				<div class="rating-wrap">
					<!-- <ul class="rating-stars">
						<li style="width:80%" class="stars-active">
							<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
						</li>
						<li>
							<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
						</li>
					</ul> -->
          <span class="label-rating text-muted"> 34 reviws</span>
				</div>
				<div class="price mt-1">$179.00</div> <!-- price-wrap.// -->
        <button type="button" class="btn btn-outline-dark">Find Out More</button>
			</figcaption>
		</div>
	</div> <!-- col.// -->
	<div class="col-md-4">
		<div href="#" class="card card-product-grid">
			<a href="#" class="img-wrap"> <img src="assets/16.jpg"> </a>
			<figcaption class="info-wrap">
				<a href="#" class="title">Best customer service</a>

				<div class="rating-wrap">
					<!-- <ul class="rating-stars">
						<li style="width:80%" class="stars-active">
							<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
						</li>
						<li>
							<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
						</li>
					</ul> -->
					<span class="label-rating text-muted"> 34 reviws</span>
				</div>
				<div class="price mt-1">$280.00</div> <!-- price-wrap.// -->
        <button type="button" class="btn btn-outline-dark">Find Out More</button>

			</figcaption>
		</div>
	</div> <!-- col.// -->
	<div class="col-md-4">
		<div href="#" class="card card-product-grid">
      <a href="#" class="img-wrap"> <img src="assets/17.jpg"> </a>
			<figcaption class="info-wrap">
				<a href="#" class="title">Great Service Delivery</a>

				<div class="rating-wrap">
					<!-- <ul class="rating-stars">
						<li style="width:80%" class="stars-active">
							<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
						</li>
						<li>
							<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
						</li>
					</ul> -->
					<span class="label-rating text-muted"> 34 reviws</span>
				</div>
				<div class="price mt-1">$56.00</div> <!-- price-wrap.// -->
        <button type="button" class="btn btn-outline-dark">Find Out More</button>

			</figcaption>
		</div>
	</div> <!-- col.// -->
	<!-- <div class="col-md-3">
		<div href="#" class="card card-product-grid">
			<a href="#" class="img-wrap"> <img src="assets/4.jpg"> </a>
			<figcaption class="info-wrap">
				<a href="#" class="title">Great Service</a>

				<div class="rating-wrap">
					<ul class="rating-stars">
						<li style="width:80%" class="stars-active">
							<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
						</li>
						<li>
							<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
						</li>
					</ul>
					<span class="label-rating text-muted"> 34 reviws</span>
				</div>
				<div class="price mt-1">$179.00</div>
			</figcaption>
		</div>
	</div> -->
</div>

<div class="row">
	<div class="col-md-4">
		<div href="#" class="card card-product-grid">
			<a href="#" class="img-wrap"> <img src="assets/20.jpg"> </a>
			<figcaption class="info-wrap">
				<a href="#" class="title">Great Service</a>

				<div class="rating-wrap">
					<!-- <ul class="rating-stars">
						<li style="width:80%" class="stars-active">
							<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
						</li>
						<li>
							<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
						</li>
					</ul> -->
					<span class="label-rating text-muted"> 34 reviws</span>
				</div>
				<div class="price mt-1">$179.00</div> <!-- price-wrap.// -->
        <button type="button" class="btn btn-outline-dark">Find Out More</button>

			</figcaption>
		</div>
	</div> <!-- col.// -->
	<div class="col-md-4">
		<div href="#" class="card card-product-grid">
			<a href="#" class="img-wrap"> <img src="assets/21.jpg"> </a>
			<figcaption class="info-wrap">
				<a href="#" class="title">Best customer service</a>

				<div class="rating-wrap">
					<!-- <ul class="rating-stars">
						<li style="width:80%" class="stars-active">
							<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
						</li>
						<li>
							<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
						</li>
					</ul> -->
					<span class="label-rating text-muted"> 34 reviws</span>
				</div>
				<div class="price mt-1">$280.00</div> <!-- price-wrap.// -->
        <button type="button" class="btn btn-outline-dark">Find Out More</button>

			</figcaption>
		</div>
	</div> <!-- col.// -->
	<div class="col-md-4">
		<div href="#" class="card card-product-grid">
			<a href="#" class="img-wrap"> <img src="assets/22.jpg"> </a>
			<figcaption class="info-wrap">
				<a href="#" class="title">Great Service Delivery</a>

				<div class="rating-wrap">
					<!-- <ul class="rating-stars">
						<li style="width:80%" class="stars-active">
							<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
						</li>
						<li>
							<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
						</li>
					</ul> -->
					<span class="label-rating text-muted"> 34 reviws</span>
				</div>
				<div class="price mt-1">$56.00</div> <!-- price-wrap.// -->
        <button type="button" class="btn btn-outline-dark">Find Out More</button>

			</figcaption>
		</div>
	</div> <!-- col.// -->
</div> <!-- row.// -->


<div class="row">
	<div class="col-md-4">
		<div href="#" class="card card-product-grid">
			<a href="#" class="img-wrap"> <img src="assets/14.jpg"> </a>
			<figcaption class="info-wrap">
				<a href="#" class="title">Great Service</a>
				<div class="price mt-1">$179.00</div> <!-- price-wrap.// -->
			</figcaption>
		</div>
	</div> <!-- col.// -->
	<div class="col-md-4">
		<div href="#" class="card card-product-grid">
			<a href="#" class="img-wrap"> <img src="assets/18.jpg"> </a>
			<figcaption class="info-wrap">
				<a href="#" class="title">Best customer service</a>
				<div class="price mt-1">$280.00</div> <!-- price-wrap.// -->
        <button type="button" class="btn btn-outline-dark">Find Out More</button>

			</figcaption>
		</div>
	</div> <!-- col.// -->
	<div class="col-md-4">
		<div href="#" class="card card-product-grid">
			<a href="#" class="img-wrap"> <img src="assets/19.jpg"> </a>
			<figcaption class="info-wrap">
				<a href="#" class="title">Great Service Delivery</a>
				<div class="price mt-1">$56.00</div> <!-- price-wrap.// -->
        <button type="button" class="btn btn-outline-dark">Find Out More</button>

			</figcaption>
		</div>
	</div> <!-- col.// -->
</div> <!-- row.// -->


<div class="row">
	<div class="col-md-4">
		<div href="#" class="card card-product-grid">
			<a href="#" class="img-wrap"> <img src="assets/23.jpg"> </a>
			<figcaption class="info-wrap">
				<a href="#" class="title">Great Service</a>
				<div class="price mt-1">$179.00</div> <!-- price-wrap.// -->
        <button type="button" class="btn btn-outline-dark">Find Out More</button>
        
			</figcaption>
		</div>
	</div> <!-- col.// -->
	<div class="col-md-4">
		<div href="#" class="card card-product-grid">
			<a href="#" class="img-wrap"> <img src="assets/27.jpg"> </a>
			<figcaption class="info-wrap">
				<a href="#" class="title">Best customer service</a>
				<div class="price mt-1">$280.00</div> <!-- price-wrap.// -->
        <button type="button" class="btn btn-outline-dark">Find Out More</button>

			</figcaption>
		</div>
	</div> <!-- col.// -->
	<div class="col-md-4">
		<div href="#" class="card card-product-grid">
			<a href="#" class="img-wrap"> <img src="assets/26.jpg"> </a>
			<figcaption class="info-wrap">
				<a href="#" class="title">Great Service Delivery</a>
				<div class="price mt-1">$56.00</div> <!-- price-wrap.// -->
        <button type="button" class="btn btn-outline-dark">Find Out More</button>

			</figcaption>
		</div>
	</div> <!-- col.// -->
</div> <!-- row.// -->

</div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->








<!-- ========================= SECTION  ========================= -->
<section class="section-name bg padding-y-sm">
<div class="container">
<header class="section-heading">
	<h3 class="section-title">Our Brands</h3>
</header><!-- sect-heading -->

<div class="row">
  <div class="col-md-2  col-6">
    <figure class="box item-logo">
      <a href="#"><img src="assets/logo4.png"></a>
      <figcaption class="border-top pt-2">980 Products</figcaption>
    </figure> <!-- item-logo.// -->
  </div> <!-- col.// -->
	<div class="col-md-2 col-6">
		<figure class="box item-logo">
			<a href="#"><img src="assets/logo1.png"></a>
			<figcaption class="border-top pt-2">436 Products</figcaption>
		</figure> <!-- item-logo.// -->
	</div> <!-- col.// -->
</div> <!-- row.// -->
</div><!-- container // -->
</section>
<!-- ========================= SECTION  END// ========================= -->






<!-- ========================= FOOTER ========================= -->
<footer class="section-footer border-top bg">
	<div class="container">
		<section class="footer-top  padding-y">
			<div class="row">
				<aside class="col-md col-6">
					<h6 class="title">Brands</h6>
					<ul class="list-unstyled">
						<li> <a href="#">Adidas</a></li>
						<li> <a href="#">Puma</a></li>
						<li> <a href="#">Reebok</a></li>
						<li> <a href="#">Nike</a></li>
					</ul>
				</aside>
				<aside class="col-md col-6">
					<h6 class="title">Company</h6>
					<ul class="list-unstyled">
						<li> <a href="#">About us</a></li>
						<li> <a href="#">Career</a></li>
						<li> <a href="#">Find a store</a></li>
						<li> <a href="#">Rules and terms</a></li>
						<li> <a href="#">Sitemap</a></li>
					</ul>
				</aside>
				<aside class="col-md col-6">
					<h6 class="title">Help</h6>
					<ul class="list-unstyled">
						<li> <a href="#">Contact us</a></li>
						<li> <a href="#">Money refund</a></li>
						<li> <a href="#">Order status</a></li>
						<li> <a href="#">Shipping info</a></li>
						<li> <a href="#">Open dispute</a></li>
					</ul>
				</aside>
				<aside class="col-md col-6">
					<h6 class="title">Account</h6>
					<ul class="list-unstyled">
						<li> <a href="#"> User Login </a></li>
						<li> <a href="#"> User register </a></li>
						<li> <a href="#"> Account Setting </a></li>
						<li> <a href="#"> My Orders </a></li>
					</ul>
				</aside>
				<aside class="col-md">
					<h6 class="title">Social</h6>
					<ul class="list-unstyled">
						<li><a href="#"> <i class="fab fa-facebook"></i> Facebook </a></li>
						<li><a href="#"> <i class="fab fa-twitter"></i> Twitter </a></li>
						<li><a href="#"> <i class="fab fa-instagram"></i> Instagram </a></li>
						<li><a href="#"> <i class="fab fa-youtube"></i> Youtube </a></li>
					</ul>
				</aside>
			</div> <!-- row.// -->
		</section>	<!-- footer-top.// -->

		<section class="footer-bottom row">
			<div class="col-md-2">
				<p class="text-muted"> &copy 2019 Company name </p>
			</div>
			<div class="col-md-8 text-md-center">
				<span  class="px-2">info@pixsellz.io</span>
				<span  class="px-2">+879-332-9375</span>
				<span  class="px-2">Street name 123, Avanue abc</span>
			</div>
			<div class="col-md-2 text-md-right text-muted">
				<i class="fab fa-lg fa-cc-visa"></i>
				<i class="fab fa-lg fa-cc-paypal"></i>
				<i class="fab fa-lg fa-cc-mastercard"></i>
			</div>
		</section>
	</div><!-- //container -->
</footer>
<!-- ========================= FOOTER END // ========================= -->
