.img-fluid {
  max-width: 100%;
  height: auto;
}

.padding-y-sm {
  padding-top: 20px;
  padding-bottom: 20px;
}

.section-heading {
  margin-bottom: 20px;
  margin-top: 15px;
}
.intro-banner-wrap {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    height: 100%;
    max-width: 100%;
    width: auto;
    object-fit: cover;
  }
}

.card-product-grid {
  margin-bottom: 20px;
  cursor: pointer;

  .img-wrap {
    border-radius: 0.2rem 0.2rem 0 0;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    img {
      flex-shrink: 0;
      min-width: 100%;
      min-height: 100%;
      height: 100%;
      max-width: 100%;
      width: auto;
      object-fit: cover;
    }
  }
  .info-wrap {
    overflow: hidden;
    padding: 18px 20px;
  }
  a.title {
    color: #212529;
    display: block;
  }

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
}

.box {
  padding: 18px;
  background: #fff;
  border-radius: 0.37rem;
  border: 1px solid #e4e4e4;

}
.item-logo {
  margin-bottom: 20px;
  text-align: center;
  img {
    max-height: 65px;
  }
}

.section-footer .title {
  font-weight: 600;
  margin-bottom: 16px;
  color: #212529;
}
.section-footer ul li {
  margin-bottom: 5px;
}
.padding-y {
  padding-top: 40px;
  padding-bottom: 40px;
}

a {
  text-decoration: none;
  background-color: transparent;
  color: inherit;
}

fa-icon {
  font-size: 2em;
}
